<zc-right-menu></zc-right-menu>
<!--<zc-table-->
<!--    [tableData]="listOfData"-->
<!--    [tableCfg]="tableCfg"-->
<!--    [nzSize]="'default'"-->
<!--    [dataTotal]="50"-->
<!--    [nzBordered]="true"-->
<!--    [nzOuterBordered]="false"-->
<!--    [nzPaginationType]="'default'"-->
<!--    style="height: 300px"-->
<!--    [nzTableLayout]="'auto'"-->
<!--    [useNzWidth]="false"-->

<!--&gt;-->
<!--</zc-table>-->

<button nz-button (click)="setInput()">生成</button>
<button nz-button (click)="setTemplate()">生成Template</button>

<div #container>

</div>

<ng-template #dataF let-data>
    {{data}} 动态创建
</ng-template>


<div>
    <ng-container #testContainer>

    </ng-container>
</div>



<button nz-button appTest (click)="isOpen = !isOpen"  #trigger="appTest">test directive</button>

<ng-template
    appUseTest
    [appTestOrigin]="trigger"
    [isOpen]="isOpen"
>
    appUseTest
</ng-template>
